INDIRA SEPTIANITA LARASATI
H071191023

In [ ]:
#SVMClassifier

In [59]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [60]:
## untuk import data dan dijadikan dataframe
df = pd.read_csv('heart_failure_clinical_records_dataset.csv')

In [61]:
df.head()#menampilksan sampel data

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]

In [62]:
##Informasi lebih detail mengenai struktur DataFrame iris dapat dilihat menggunakan fungsi info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [44]:
# memisahkan atribut pada dataset dan menyimpannya pada sebuah variabel
X = df[df.columns[:8]]
     
# memisahkan label pada dataset dan menyimpannya pada sebuah variabel
y = df['DEATH_EVENT']

In [64]:
from sklearn.preprocessing import StandardScaler

In [63]:
   # standarisasi nilai-nilai dari dataset
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [65]:
# memisahkan data untuk training dan testing
#Dataset dibagi ke dalam data latih dan data uji, data latih digunakan untuk melatih model 
#yang telah dibuat sedangkan evaluasinya akan dilakukan pada data uji.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [66]:
# membuat objek SVC dan memanggil fungsi fit untuk melatih model
clf = SVC()
clf.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [67]:
# Menampilkan skor akurasi prediksi
clf.score(X_test, y_test)

0.6777777777777778