INDIRA SEPTIANITA LARASATI
H071191023
TUGAS 05 Machine Learning

SVM

In [51]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
# import module bagian pengukuran kinerja
from sklearn.metrics import classification_report, cohen_kappa_score, fbeta_score, roc_auc_score
from sklearn.metrics import confusion_matrix

In [54]:
# untuk import data dan dijadikan dataframe
df = pd.read_csv("Iris.csv")
df.head(10)#menampilksan sampel data

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [55]:
label_enc = {"Species": {"Iris-setosa":1.0, "Iris-versicolor":2.0, "Iris-virginica":3.0}}
df.replace(label_enc, inplace=True)

In [30]:
#menampilkan jumlah record adalah dengan menggunakan property shape sehingga kita engetahui dimensi dari dataframe iris

df.shape

(150, 6)

In [47]:
# melihat struktur dari data
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species          float64
dtype: object

In [50]:
#Informasi lebih detail mengenai struktur DataFrame iris dapat dilihat menggunakan fungsi info()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 7.2 KB

In [49]:
#Informasi statistik untuk setiap kolom seperti nilai minimum, nilai maksimum, standar deviasi, rata-rata dan sebagainya, dapat ditampilkan dengan mengikuti perintah
df.describe(include='all')

               Id  SepalLengthCm  ...  PetalWidthCm     Species
count  150.000000     150.000000  ...    150.000000  150.000000
mean    75.500000       5.843333  ...      1.198667    2.000000
std     43.445368       0.828066  ...      0.763161    0.819232
min      1.000000       4.300000  ...      0.100000    1.000000
25%     38.250000       5.100000  ...      0.300000    1.000000
50%     75.500000       5.800000  ...      1.300000    2.000000
75%    112.750000       6.400000  ...      1.800000    3.000000
max    150.000000       7.900000  ...      2.500000    3.000000

[8 rows x 6 columns]

In [45]:
#mendapatkan baris (atau kolom) pada posisi tertentu dalam indeks yg hanya membutuhkan bilangan bulat pada X
X = df.iloc[:,0:4]
X

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
0      1            5.1           3.5            1.4
1      2            4.9           3.0            1.4
2      3            4.7           3.2            1.3
3      4            4.6           3.1            1.5
4      5            5.0           3.6            1.4
..   ...            ...           ...            ...
145  146            6.7           3.0            5.2
146  147            6.3           2.5            5.0
147  148            6.5           3.0            5.2
148  149            6.2           3.4            5.4
149  150            5.9           3.0            5.1

[150 rows x 4 columns]

In [32]:
##mendapatkan baris (atau kolom) pada posisi tertentu dalam indeks yg hanya membutuhkan bilangan bulat pada 
y = df.iloc[:,-1]
y

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
145    3.0
146    3.0
147    3.0
148    3.0
149    3.0
Name: Species, Length: 150, dtype: float64

In [46]:
#Dataset dibagi ke dalam data latih dan data uji, data latih digunakan untuk melatih model yang telah dibuat sedangkan evaluasinya akan dilakukan pada data uji.
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.33, stratify = y)

In [34]:
# menjelaskan ukuran data setelah dibagi
len(X_train), len(X_test)

(100, 50)

In [35]:
list_kernel = ["linear", "rbf", "poly", "sigmoid"]

In [36]:
list_model_svm = []
for i in list_kernel :
  temporary_model = svm.SVC(kernel=i)
  temporary_model.fit(X_train, y_train)
  list_model_svm.append(temporary_model)

In [37]:
list_model_svm

[SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False),
 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False),
 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False),
 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='sigmoid',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False)]

In [38]:
# membangun model
model_svr = svm.SVR(kernel="linear")
model_svm = svm.SVC(kernel = "poly")

# melatih model dengan data train(latihan)
model_svm.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [39]:
# membuat variabel hasil prediksi pada data test uji
predict_svm = model_svm.predict(X_test)

predict_svm

array([1., 3., 1., 3., 2., 3., 2., 2., 3., 1., 2., 1., 2., 1., 1., 1., 3.,
       3., 1., 2., 3., 2., 3., 3., 3., 2., 2., 2., 3., 1., 2., 1., 2., 2.,
       3., 1., 3., 3., 2., 1., 2., 3., 1., 1., 1., 1., 1., 2., 3., 1.])

In [40]:
print(classification_report(y_test, predict_svm))

              precision    recall  f1-score   support

         1.0       0.89      1.00      0.94        16
         2.0       0.94      0.88      0.91        17
         3.0       1.00      0.94      0.97        17

    accuracy                           0.94        50
   macro avg       0.94      0.94      0.94        50
weighted avg       0.94      0.94      0.94        50

In [41]:
print(confusion_matrix(y_test, predict_svm))

[[16  0  0]
 [ 2 15  0]
 [ 0  1 16]]